ul {
    list-style: none;
}

.name{
    font-family: 'Bebas Neue', cursive;
    margin-left: 45px;
    text-decoration: underline;
}

.description {
    font-family: 'Roboto', sans-serif;
    margin-left: 160px;
    text-decoration: underline;
}

.addToCart{
    width: 30%;
    height: 65%;
    color: white;
    background-color: black;
    margin-left: 30px;
    margin-bottom: 35px;
}

.price{
    font-family: 'Roboto Slab', serif;
    margin-left: 218px;
}

.category{
    font-family: 'Roboto', sans-serif;
    margin-left: 218px;
}

.shoe-image{
    width: 250px;
    margin-left: 140px;

}

h1{
    text-align: center;
    font-family: 'Rampart One', cursive;
}

#product-link{
    display: block;
    text-align: center;
}
